-#  This file is app/views/movies/similar.html.haml

%h2 Movies similar to #{@movie.title}

%h3 By director:

- if @movies_by_director
  %ul
    - @movies_by_director.each do |movie|
      %li
        %td= link_to "#{movie.title}", movie_path(movie)

%div
  = link_to 'Back to movie list', movies_path
%div
  = link_to "Back to movie", movie_path(@movie)
